table{
    border: 3px solid;
    border-style: outset;
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 200PX;
    text-align: center;
    font-size: 20px;
    font-family:serif;

}

td,th{
    border: 2px solid;
    border-style: inset ;
    padding: 5px;
    

}

.blue_class{
background-color: #cdceff;
}

.yellow_class{
background-color: #ffffcd;
}

.green_class{

    background-color: #cdffcd;

}